.header {
  display: flex;
  background-image: url(./../images/background_header.svg);
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  flex-wrap: wrap;
}

.header__title {
  max-width: 709px;
  margin-top: 183px;
  margin-bottom: 0;
  margin-left: 80px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin-top: 28px;
  margin-left: 80px;
  font-family: "Noto Sefif", "Times New Roman", serif;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  width: 646px;
  height: 568px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin: auto 80px 40px;
  font-family: "inter", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__schedule {
  list-style-type: none;
}

.header__adress {
  align-self: end;
}
